<div class="" ng-controller="dashboardController">

  <div class="dashHeader">
    <p ng-controller="homeController" class="headerButtons"><input class="butt" type = 'submit' value="logout" ng-click='logout()'></p>
    <p class="headerButtons"><a href="#!/pinnersPage"><button class="butt">Top Pinners</button></a></p>
    <p class="headerButtons"><a href="#!/momentsPage"><button class="butt">Moments</button></a></p>
    <p class="headerButtons"><a href="#!/home"><button class="butt1">Get Mapping!</button></a></p>
    <span class="stretch"></span>
  </div>


  <div class="dash_container">
    <div class="topPinners_left">
      <div id="topPinners">
          <h4>{{test}}</h4>
          <h3># of Countries</h3>
      </div>
      <div id="topPinners">
          <h4>{{test}}</h4>
          <h3># of Countries</h3>
      </div>
      <div id="topPinners">
          <h4>{{test}}</h4>
          <h3># of Countries</h3>
      </div>
      <div id="topPinners">
          <h4>{{test}}</h4>
          <h3># of Countries</h3>
      </div>
      <div id="topPinners">
          <h4>{{test}}</h4>
          <h3># of Countries</h3>
      </div>
    </div>

    <div class="moments_center">
      <div id="moment">
        <h3>Who: Pinner Name</h3>
        <h3>Where: Country</h3>
        <h3>What:</h3>
        <p>90's hexagon organic iceland portland. Fingerstache la croix tattooed fashion axe pickled, vice locavore artisan selfies air plant offal keffiyeh gentrify. Twee authentic shabby chic mlkshk, fanny pack microdosing stumptown scenester wayfarers pok pok offal blue bottle. Pop-up drinking vinegar literally put a bird on it, pinterest woke air plant. Vegan four loko VHS, mlkshk swag distillery tbh cray humblebrag hella. Franzen chartreuse blog post-ironic, kombucha offal distillery live-edge glossier everyday carry pitchfork small batch. Taxidermy blue bottle before they sold out swag.</p>
        <h3><button>LIKE</button></h3>
      </div>
      <div id="moment">
        <h3>Who: Pinner Name</h3>
        <h3>Where: Country</h3>
        <h3>What:</h3>
        <p>Blue bottle glossier readymade, kickstarter tumeric swag bicycle rights bespoke green juice echo park semiotics mustache cardigan. Salvia woke etsy tilde iPhone, man braid roof party craft beer synth lyft tattooed kinfolk sartorial. Neutra brunch artisan cray, tattooed try-hard biodiesel jianbing vape. PBR&B typewriter chambray humblebrag chicharrones post-ironic meditation migas, vaporware blue bottle disrupt occupy slow-carb semiotics. Organic hexagon retro post-ironic hashtag, subway tile stumptown seitan godard church-key poke. Normcore shoreditch single-origin coffee bicycle rights fap franzen. Fingerstache tumblr hell of, listicle humblebrag meditation vaporware offal chambray.</p>
        <h3><button>LIKE</button></h3>
      </div>
      <div id="moment">
        <h3>Who: Pinner Name</h3>
        <h3>Where: Country</h3>
        <h3>What:</h3>
        <p>Keffiyeh wayfarers af godard actually, flexitarian tumeric truffaut. Raw denim single-origin coffee semiotics, put a bird on it dreamcatcher hella neutra fanny pack bicycle rights stumptown iceland crucifix. 3 wolf moon cardigan fashion axe normcore deep v keffiyeh, biodiesel hammock raw denim chambray. Cornhole crucifix hashtag forage schlitz everyday carry, irony kinfolk occupy DIY live-edge humblebrag meh health goth. Coloring book whatever cold-pressed vice, vexillologist iPhone bitters succulents messenger bag. Chicharrones humblebrag gluten-free hashtag craft beer trust fund. Godard street art vinyl, gentrify fanny pack readymade franzen meh keffiyeh authentic.</p>
        <h3><button>LIKE</button></h3>
      </div>
      <div id="moment">
        <h3>Who: Pinner Name</h3>
        <h3>Where: Country</h3>
        <h3>What:</h3>
        <p>Tofu iPhone venmo mumblecore. Thundercats marfa four dollar toast, venmo viral bicycle rights pork belly raw denim pabst small batch selvage PBR&B asymmetrical. Try-hard mumblecore raw denim everyday carry chia tilde. Succulents raclette man braid mixtape cliche YOLO, DIY gluten-free lyft farm-to-table you probably haven't heard of them bitters kitsch tofu. Enamel pin biodiesel selvage crucifix, woke cardigan PBR&B sartorial forage humblebrag. Waistcoat poke messenger bag, chia hexagon everyday carry letterpress forage literally bitters XOXO authentic readymade flexitarian. Heirloom flannel readymade, locavore occupy artisan ennui church-key waistcoat tumblr XOXO pitchfork vexillologist you probably haven't heard of them snackwave.</p>
        <h3><button>LIKE</button></h3>
      </div>
    </div>

    <div class="news_right">
      <div id="news">
        <p>news</p>
        <p>and</p>
        <p>stuff..</p>
      </div>
      <div id="news">
        <p>news</p>
        <p>and</p>
        <p>stuff..</p>
      </div>
      <div id="news">
        <p>news</p>
        <p>and</p>
        <p>stuff..</p>
      </div>
    </div>
  </div>

</div>
